#####################################################
#
# List of approvers for OpenTelemetry Collector Contrib
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# reducer/logging/                 @open-telemetry/ebpf-approvers @bjandras @jimwsplk
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/network-approvers