*.o
*.pyc
*.bak
*.so
*.a
*~
!.*
*.backup
*.aux
*.log
*.out
*.profile
*.bbl
*.blg
*.brf
.autotools
.cproject
.*.cmd
.*.d
.deps
.dirstamp
*.la
*.lo
.libs
.pydevproject
.Rhistory
.settings
.settings/
.~lock*#
*.xxd
payload_trace.dat
trace_stats.csv
exec_at
generated/
.DS_Store
*.sw?
*.orig

MANIFEST
.sconsign.dblite

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Testing/
install_manifest.txt

.idea/

aclocal.m4
configure
autom4te.cache
build-aux
install-sh
missing
py-compile
release/

stamp-h1
src/Makefile
config.h
config.status
libtool

perf.data
perf.data.old

# Visual Studio Code
.vscode/settings.json
# Visual C++ cache files
ipch/
