[submodule "ext/civetweb"]
	path = ext/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "cpp_misc/args"]
	path = build-tools/cpp_misc/args
	url = https://github.com/Taywee/args.git
[submodule "cpp_misc/json"]
	path = build-tools/cpp_misc/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp_misc/spdlog"]
	path = build-tools/cpp_misc/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cpp_misc/lz4"]
	path = build-tools/cpp_misc/lz4
	url = https://github.com/lz4/lz4.git
[submodule "cpp_misc/yaml-cpp"]
	path = build-tools/cpp_misc/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "openssl/openssl"]
	path = build-tools/openssl/openssl
	url = https://github.com/openssl/openssl.git
[submodule "curl/curl"]
	path = build-tools/curl/curl
	url = https://github.com/curl/curl.git
[submodule "curl/curlpp"]
	path = build-tools/curl/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "libuv/libuv"]
	path = build-tools/libuv/libuv
	url = https://github.com/libuv/libuv.git
[submodule "aws_sdk/aws-sdk-cpp"]
	path = build-tools/aws_sdk/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "grpc_cpp/grpc"]
	path = build-tools/grpc_cpp/grpc
	url = https://github.com/grpc/grpc.git
[submodule "abseil_cpp/abseil-cpp"]
	path = build-tools/abseil_cpp/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libmaxminddb/libmaxminddb"]
	path = build-tools/libmaxminddb/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb
[submodule "gcp_cpp/google-cloud-cpp-common"]
	path = build-tools/gcp_cpp/google-cloud-cpp-common
	url = https://github.com/googleapis/google-cloud-cpp-common.git
[submodule "gcp_cpp/google-cloud-cpp"]
	path = build-tools/gcp_cpp/google-cloud-cpp
	url = https://github.com/googleapis/google-cloud-cpp.git
[submodule "gcp_cpp/googleapis"]
	path = build-tools/gcp_cpp/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "bcc/bcc"]
	path = build-tools/bcc/bcc
	url = https://github.com/iovisor/bcc.git
	branch = master
[submodule "googletest"]
	path = build-tools/cpp_misc/googletest
	url = https://github.com/google/googletest.git
[submodule "opentelemetry/opentelemetry-proto"]
	path = build-tools/opentelemetry/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "libbpf/libbpf"]
	path = build-tools/libbpf/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "libbpf/bpftool"]
	path = build-tools/libbpf/bpftool
	url = https://github.com/libbpf/bpftool.git
