[submodule "ext/civetweb"]
	path = ext/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "build-tools/libmaxminddb/libmaxminddb"]
	path = build-tools/libmaxminddb/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb
[submodule "build-tools/libbpf/bpftool"]
	path = build-tools/libbpf/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "build-tools/cpp_misc/lz4"]
	path = build-tools/cpp_misc/lz4
	url = https://github.com/lz4/lz4.git
[submodule "build-tools/aws_sdk/aws-sdk-cpp"]
	path = build-tools/aws_sdk/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "build-tools/cpp_misc/json"]
	path = build-tools/cpp_misc/json
	url = https://github.com/nlohmann/json.git
[submodule "build-tools/libuv/libuv"]
	path = build-tools/libuv/libuv
	url = https://github.com/libuv/libuv.git
[submodule "build-tools/cpp_misc/spdlog"]
	path = build-tools/cpp_misc/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "build-tools/cpp_misc/args"]
	path = build-tools/cpp_misc/args
	url = https://github.com/Taywee/args.git
[submodule "build-tools/libbpf/libbpf"]
	path = build-tools/libbpf/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "build-tools/cpp_misc/yaml-cpp"]
	path = build-tools/cpp_misc/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "build-tools/cpp_misc/googletest"]
	path = build-tools/cpp_misc/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/vmlinux.h"]
	path = ext/vmlinux.h
	url = https://github.com/libbpf/vmlinux.h.git
